.M_FooterButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-gray);
}

.M_FooterButton .icon {
  margin-left: 32px;
  margin-right: 26px;
  width: 25px;
}

.M_FooterButton span {
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;
}
