.M_PerPageDropdown {
  display: none;
}

.O_PerPageMenu.open .M_PerPageDropdown {
  display: block;
  position: absolute;
  bottom: 41px;

  right: -15px;
  min-width: 224px;
  padding: 10px 0;
  border: 1px solid var(--gray);
  background-color: white;
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;

  font-family: 'Open Sans Condensed', sans-serif;
}

.M_PerPageDropdown::after,
.M_PerPageDropdown::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.M_PerPageDropdown::after {
  border-color: transparent;
  border-top-color: white;
  border-width: 18px;
  margin-left: 24px;
}

.M_PerPageDropdown::before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: var(--gray);
  border-width: 20px;
  margin-left: 22px;
}
