.M_UserMenuDropdown {
  position: fixed;
  display: none;
  top: 80px;
  right: 25;

  font-family: 'Open Sans Condensed', sans-serif;

}

.M_UserMenuDropdown>ul>li {
  padding: 20px;
}

.M_UserMenuDropdown .bottom {
  border-top: 1px solid rgba(0,0,0,.1);
}

.O_UserMenu:hover .M_UserMenuDropdown {
  display: block;
}
