.M_UserMenuDropdown {
  position: fixed;
  display: none;
  top: 79px;
  right: 25px;
  min-width: 224px;

  border: 1px solid var(--gray);
  background-color: white;
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;

  font-family: 'Open Sans Condensed', sans-serif;

}

.M_UserMenuDropdown .top,
.M_UserMenuDropdown .bottom {
  padding: 10px 0;
}

.M_UserMenuDropdown .top {
  border-bottom: 1px solid var(--gray);
}

.O_UserMenu:hover .M_UserMenuDropdown {
  display: block;
}

.M_UserMenuDropdown::after,
.M_UserMenuDropdown::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.M_UserMenuDropdown::after {
  border-color: transparent;
  border-bottom-color: white;
  border-width: 18px;
  margin-left: 24px;
}

.M_UserMenuDropdown::before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: var(--gray);
  border-width: 20px;
  margin-left: 22px;
}
