.O_Menu {
  /* flex-grow: 1; */
  overflow: hidden;
  /* width: 300px; */
  height: calc(100% - 80px - 70px);
}

.O_Menu .scrollable>ul>li {
  margin-left: 20px;
  line-height: 48px;
}

.O_Menu .scrollable {
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  width: 320px;
  padding-right: 20px;
}
