body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  font-size: 18px;
}

a {
  color: #686868;
  text-decoration: none;
  cursor: pointer;
}

 a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #3b87f4;
}

figure {
  width: 53px;
  height: 53px;
  margin-right: 50px;
  background-size: cover;
}
