.O_MenuItem.active .A_MenuItemButtom span {
  font-weight: 400;
}

.O_MenuItem.active .A_MenuItemButtom .icon {
  color: var(--primary);
}

.A_MenuItemButtom {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
  color: var(--text-gray);

}

.A_MenuItemButtom:hover {
  background-color: var(--gray);
}

.A_MenuItemButtom span {
  font-family: var(--OpenSans);
  font-size: 14px;
  font-weight: 300;
}

.A_MenuItemButtom .icon {
  margin-left: 32px;
  margin-right: 26px;
  width: 25px;
  transition: all .2s ease;
}
